<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - StudyPlanner</title>
    <link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/Layout.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">StudyPlanner</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class='@(ViewBag.Title == "Home" ? "active" : "")'>@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li class='@(ViewBag.Title == "Books" ? "active" : "")'>@Html.ActionLink("BOOKS", "List", "Books")</li>
                    <li class='@(ViewBag.Title == "Sections" ? "active" : "")'>@Html.ActionLink("SECTIONS", "List", "Sections")</li>
                    <li class='@(ViewBag.Title == "Trainings" ? "active" : "")'>@Html.ActionLink("TRAININGS", "List", "Trainings")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("LogOut", "Home")"><span class="glyphicon glyphicon-user"></span> LOG OUT (@User.Identity.Name)</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer>
        Copyright © 2016 Kamil Dzierlęga (mail)
    </footer>
</body>
</html>
