@model StudyPlanner.Models.AddBookModel
<span>@ViewBag.cover</span>
<br />
<h1 style="border-bottom: 1px solid #ddd; border-bottom-left-radius: 100px 1px; border-bottom-right-radius: 100px 1px; padding-bottom: 10px; margin-bottom: 10px;">Add new book</h1>
@using (Html.BeginForm("AddBook", "Home", FormMethod.Post, new { id = "Form", enctype = "multipart/form-data" }))
            {
    @*@Html.HiddenFor(x => x.AddAuthor);*@
    <input type="hidden" value="false" id="AddCover" name="AddCover" />
    <input type="hidden" value="@Model.CoverName" id="CoverName" name="CoverName" />
    

           <div class="form-group">
        @Html.LabelFor(x => x.Title, "Title")
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", style="max-width: 500px; width: 100%", required = "required" })
    </div>
    
    <div class="form-group">
        
        @Html.LabelFor(x => x.Author, "Authors")
        @*@for (int i = 1; i < Model.Authors.Count; i++) //zerowy element jest dla podtrzymania wartości Model.Authors
        {
            <p>@Model.Authors[i]</p>
        }*@
        <input type="hidden" id="AddAuthor" name="AddAuthor" value="false" />
        <input type="hidden" id="RemoveAuthor" name="RemoveAuthor" value="" />
        <ul style="padding: 0; margin : 0 0 2px 0; max-width: 500px; width: 100%;">
            @if (Model.Authors != null)
            {
                for (int i = 0; i < Model.Authors.Count; i++)
                {
                    <li style="cursor: default; display: inline-block; background-color: #eee; padding: 3px 5px; margin: 2px; border-radius: 5px;">@Model.Authors[i]<b style='cursor: default' onclick="RemoveAuthor('@Model.Authors[i]')"> &times;</b></li>
                    <input type="hidden" id="@String.Format("Authors_{0}_", i)" name="Authors[@i]" value="@Model.Authors[i]" />
                    @*@Html.HiddenFor(x => x.Authors[i])*@
                }
            }
        </ul>
        <table style="max-width: 500px; width: 100%;">
            <tr>
                <td><input type="text" value="" id="Author" name="Author" style="max-width: 100%" class="form-control" autocomplete="off" list="authorsList" /></td>
                @*<td>@Html.TextBox("Author", "", new { id = "Author", style = "max-width: 100%", @class = "form-control", autocomplete = "off", list = "authorsList" })</td>*@
                <td style="width: 5px"></td>
                <td style="width: 10%"><button id="AddAuthorBtn" class="btn btn-default">Add author</button></td>
            </tr>
        </table>
        <datalist id="authorsList">
            @foreach (var a in Model.AuthorsList)
            {
                <option value="@a"></option>
            }
        </datalist>
    </div>

    <div style="position: relative; aborder: 1px solid red; max-width: 500px; width: 100%">
        <div class="form-group">
            @Html.LabelFor(x => x.Publisher, "Publisher")
            @Html.TextBoxFor(x => x.Publisher, new { @class = "form-control", style = "max-width: 500px; width: 50%", required = "required", list = "publishersList", autocomplete = "off" })
            <datalist id="publishersList">
                @foreach (var p in Model.PublishersList)
                {
                    <option value="@p"></option>
                }
            </datalist>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Released, "Released")
            @*@Html.TextBoxFor(x => x.Released, new { @class = "form-control", type = "date", style = "max-width: 500px; width: 100%", required = "required", value=Model.Released.ToShortDateString() })*@
            @*<input type="date" name="Released" id="Released" class="form-control" style="max-width: 500px; width: 50%" required="required" value="@Model.Released?.ToShortDateString()" />*@
            @Html.TextBoxFor(x => x.Released, new { type = "date", @class = "form-control", style = "max-width: 500px; width: 50%", required = "required" })
            @*// Nadal problem z datą*@
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Pages, "Pages")
            @Html.TextBoxFor(x => x.Pages, new { @class = "form-control", type = "number", style = "max-width: 500px; width: 50%", required = "required" })
        </div>
        


        <div style="position: absolute; aborder: 1px solid green; width: 45%; top: 0px; right: 0px; bottom: 0px; margin-bottom: 0px;" class="aform-group">
            <label>Cover</label>
            <div style="vertical-align: middle; abackground-color: #bbb; border: 1px solid #cccccc; abox-shadow: #cccccc 0 0 1px; position:absolute; left: 0; right: 0; bottom: 0; top: 25px; border-radius: 5px; aheight: 108px">
                <input title="Cover" type="file" name="cover" accept="image/*" style="opacity: 0; overflow: hidden; position: absolute; left: 0; right: 0; bottom: 0; top: 0;  height: 100%; width: 100%; z-index: 1" arequired="required" onchange="$('#AddCover').val(true); $('#Form').submit()" />
                <table style="height: 100%; width: 100%">
                    <tr>
                        <td style="text-align: center; vertical-align: middle; aborder: 1px solid black; height: 182px; padding: 0; abackground-color: #eee">
                            @if (String.IsNullOrEmpty(Model.CoverName))
                            {
                                <span style="text-align: center; overflow: hidden;  adisplay: block; margin: 0 auto; max-height: 99%; max-width: 99%; vertical-align: middle">Click here to add image</span>
                            }
                            else
                            {
                                <img title="" src="/Covers/Temp/@Model.CoverName" style="aposition: relative; top: -1px; text-align: center; adisplay: block; margin: 0 auto; max-width: 223px;  max-height: 182px; vertical-align: middle" />
                            }

                        </td>
                    </tr>
                </table>
            </div>


            
        </div>
    </div>

    <input type="submit" value="Add" class="btn btn-default" />
    @Html.ActionLink("Cancel", "Books", null, new { @class = "btn btn-default" })
}

<script>
    window.onload = function()
    {
        $("#Author").on("keydown",
            function (e) {
                if ((e.keyCode | e.which) == 13)
                {
                    e.preventDefault();
                    AddAuthor();
                }
            });

        $("#AddAuthorBtn").on("click",
            function (e) {
                e.preventDefault();
                AddAuthor();
            });
    }

    function AddAuthor()
    {
        if ($("#Author").val() != "")
        {
            $("#AddAuthor").val(true);
            $("#Form").submit();
        }
    }

    function RemoveAuthor(author)
    {
        $("#RemoveAuthor").val(author);
        $("#Form").submit();
    }
</script>